/* цвет текста заголовков, ссылок #212121 */ 

/* основной цвет текста #757575 */

/* текст белый #FFFFFF */

/* цвет ссылок в футере тел., почта #FFFFFF99 */

/* цвет ссылок активных #2196F3 */


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --light-text-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --dark-bg-color: #2F303A;
    --buttom-bg-color: #F5F4FA;
    
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.visualy-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.header-logo {
    color: #000000;
}
.footer-logo {
    color: #FFFFFF;
}

/* Header */
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    
}
.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

/* Hero */
.hero {
    background-color: var(--dark-bg-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-text-color);
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.button-secondary {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-text-color);
    background-color: var(--buttom-bg-color);
    cursor: pointer;
}
.button-secondary:hover,
.button-secondary:focus {
    color: var(--light-text-color);
    background-color: var(--accent-color);
}

/* Section */
.section-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);
}
/* Webstudio */
.specifics-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.photo-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color);
}
.specifics-text {
    font-size: 14px;
    line-height: 1.71;
}
.photo-text {
    font-size: 16px;
    line-height: 1.2;
}
/* Portfolio */
.portfolio-title {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
}
/* Footer */
address {
    font-style: normal;
}
.footer-link {
    font-size: 14px;
    line-height: 1.71px;
    color: var(--light-text-color);
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
.footer-contact {
    font-size: 14px;
    line-height: 1.71px;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color)
}
.footer {
    background-color: var(--dark-bg-color);
}

